<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="56649Uselessguy.DjVuReader" Publisher="CN=9CA7A286-9193-4526-BAD4-40A4D7D3A37C" Version="2.1.2.147" />
  <mp:PhoneIdentity PhoneProductId="4dda4258-89ba-4afd-a8cb-5971521be533" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>DjVu Reader</DisplayName>
    <PublisherDisplayName>Useless guy</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="DjvuApp.App">
      <m3:VisualElements DisplayName="DjVu Reader" Square150x150Logo="Assets\Logo.png" Square44x44Logo="Assets\SmallLogo.png" Description="DjvuApp" ForegroundText="light" BackgroundColor="transparent">
        <m3:SplashScreen BackgroundColor="#6A00FF" Image="Assets\SplashScreen.png" />
        <m3:DefaultTile Square71x71Logo="Assets\Square71x71Logo.png" DefaultSize="square150x150Logo" Wide310x150Logo="Assets\WideLogo.png">
          <m3:ShowNameOnTiles>
            <m3:ShowOn Tile="square150x150Logo" />
            <m3:ShowOn Tile="wide310x150Logo" />
          </m3:ShowNameOnTiles>
        </m3:DefaultTile>
        <m3:ApplicationView MinWidth="width320" />
        <!--Used in XAML Designer. DO NOT REMOVE-->
        <m3:InitialRotationPreference>
          <m3:Rotation Preference="portrait" />
          <m3:Rotation Preference="landscape" />
          <m3:Rotation Preference="landscapeFlipped" />
        </m3:InitialRotationPreference>
      </m3:VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="djvu_file">
            <DisplayName>DjVu File</DisplayName>
            <Logo>Assets\FileTypeLogo.png</Logo>
            <EditFlags OpenIsSafe="true" />
            <SupportedFileTypes>
              <FileType ContentType="image/x.djvu">.djvu</FileType>
              <FileType ContentType="image/x.djvu">.djv</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>